<div class="container-fluid about-us">
    <div class="d-none d-md-block">
        <img class="about-us-bg-right" src="assets/images/about-us-right-side-header-image.png" alt="about-us logo"/>
    </div>
  <div class="title">
      <div>
          <p style="color:#f1603f">OUR PRODUCTS</p>
          <h2>SHOP</h2>
      </div>
  </div>


  
  

</div>


<section class="all-pro">
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="filter">
                    <input type="text" placeholder="Search Products">
                    <p>CATEGORIES</p>
                    <ul>
                        <li class="active"><img src="../../../assets/images/shop all.png"><span>Shop all</span></li>
                        <li><img src="../../../assets/images/pouches.png"><span>POUCHES</span></li>
                        <li><img src="../../../assets/images/messengers.png"><span>MESSENGERS</span></li>
                        <li><img src="../../../assets/images/duffles.png"><span>DUFFLES</span></li>
                        <li><img src="../../../assets/images/drawstrings.png"><span>DRAWSTRINGS</span></li>
                        <li><img src="../../../assets/images/coolers.png"><span>COOLERS</span></li>
                        <li><img src="../../../assets/images/backpacks.png"><span>BACKPACKS</span></li>
                        <li><img src="../../../assets/images/travel.png"><span>TRAVELS</span></li>
                        <li><img src="../../../assets/images/totes.png"><span>TOTES</span></li>
                        <li><img src="../../../assets/images/fannypacks.png"><span>FANNY PACK</span></li>
                        <li><img src="../../../assets/images/others.png"><span>OTHERS</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cata">
                            <ul>
                                <li class="active">BAGS</li>
                                <li>WALLETS</li>
                                <li>OFFICE</li>
                                <li>ACCESSORIES</li>
                                <li>LEATHERS</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg1.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg2.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg3.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg4.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg5.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg6.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg7.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg8.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg9.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg10.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg11.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg12.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg13.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg14.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg15.png">
                            <div class="team-txt">
                                <h4>Slope</h4>
                                <p>$100</p>
                            </div>
                        </div>
                    </div>

                 
                </div>
              
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="pagination pagination-lg d-none d-md-block">
                    <li class="page-item "><a class="page-link" href="#">First</a></li>
                    <li class="page-item"><a class="page-link" href="#"><<</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">>></a></li>
                    <li class="page-item"><a class="page-link" href="#">Last</a></li>
                  </ul>
                  <ul class="pagination pagination-sm d-md-none">
                    <li class="page-item "><a class="page-link" href="#">First</a></li>
                    <li class="page-item"><a class="page-link" href="#"><<</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">>></a></li>
                    <li class="page-item"><a class="page-link" href="#">Last</a></li>
                  </ul>
            </div>
        </div>
    </div>
</section>
