<div class="container-fluid about-us">
    <div class="d-none d-md-block">
        <img class="about-us-bg-right" src="assets/images/about-us-right-side-header-image.png" alt="about-us logo"/>
    </div>
  <div class="title">
      <div>
          <p style="color:#f1603f">OUR PRODUCTS</p>
          <h2>SHOP</h2>
      </div>
  </div>


  
  

</div>


<section class="all-pro">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="filter">
                    <input type="text" placeholder="Search Products">
                    <p>CATEGORIES</p>
                    <ul>
                        <li><img src="../../../assets/images/shop all.png"><span>Shop all</span></li>
                        <li><img src="../../../assets/images/shop all.png"><span>Shop all</span></li>
                        <li><img src="../../../assets/images/shop all.png"><span>Shop all</span></li>
                        <li><img src="../../../assets/images/shop all.png"><span>Shop all</span></li>
                        <li><img src="../../../assets/images/shop all.png"><span>Shop all</span></li>
                        <li><img src="../../../assets/images/shop all.png"><span>Shop all</span></li>
                        <li><img src="../../../assets/images/shop all.png"><span>Shop all</span></li>
                        <li><img src="../../../assets/images/shop all.png"><span>Shop all</span></li>
                        <li><img src="../../../assets/images/shop all.png"><span>Shop all</span></li>
                        <li><img src="../../../assets/images/shop all.png"><span>Shop all</span></li>
                        <li><img src="../../../assets/images/shop all.png"><span>Shop all</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cata">
                            <ul>
                                <li class="active">BAGS</li>
                                <li>WALLETS</li>
                                <li>OFFICE</li>
                                <li>ACCESSORIES</li>
                                <li>LEATHERS</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg1.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg2.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg3.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg4.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg5.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg6.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg7.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg8.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg9.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg10.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg11.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg12.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg13.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg14.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="each-team">
                            <img src="../../../assets/images/bg15.png">
                            <div class="team-txt">
                                <h4>Della Wilde</h4>
                                <p>Operations</p>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</section>
