<footer class="footer text-center">
    <img src="assets/images/logo.png" class="logo">
     <ul>
         <li>
             <a href="javascript:void(0)">PRIVACY POLICY</a>
         </li>
         <li>
             <a href="javascript:void(0)">TERMS & CONDITIONS</a>
         </li>
         <li>
             <a href="javascript:void(0)">ABOUT</a>
         </li>
     </ul>
     <div class="sub">
         <input type="text" placeholder="name@email.com">
         <button>Subscribe</button>
     </div>
     <ul>
         <li>
             <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
         </li>
         <li>
             <a href="javascript:void(0)"><i class="fa fa-youtube-play"></i></a>
         </li>
         <li>
             <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
         </li>
     </ul>

 </footer>