<div class="container-fluid about-us">
    <div class="d-none d-md-block">
        <img class="about-us-bg-right" src="assets/images/about-us-right-side-header-image.png" alt="about-us logo"/>
    </div>
  <div class="title">
      <div>
          <p style="color:#f1603f">PRICING</p>
          <h2>KNOW YOUR PRICING</h2>
      </div>
  </div>


  
  

</div>
    
    <section class="query pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pt-5">
                    <h2>HAVE A QUERY?</h2>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                        sed diam nonummy nibh euismod tincidunt ut laoreet 
                        dolore magna aliquam erat volutpat.</p>
                    <div class="con-wrap">
                        <i class="fa fa-phone"></i>
                        <div class="ctxt-wrap">
                            <p>CALL US</p>
                            <a href="tel:310967-7753">(310) 967-7753</a>
                            <span>Mon - Fri, 9am - 7pm, ET</span>
                        </div>
                    </div>
                    <div class="con-wrap">
                        <i class="fa fa-envelope"></i>
                        <div class="ctxt-wrap">
                            <p>EMAIL</p>
                            <a href="mailto:test@gmail.com">test@gmail.com</a>
                            <span>Replies within 2 hours</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form action="">
                        <input type="text" placeholder="Your Name">
                        <input type="text" placeholder="Email ID">
                        <input type="text" placeholder="Company Name">
                        <input type="text" placeholder="Phone Number">
                        <div class="up">
                            <img src="../../../assets/images/upload-photo.png">
                            <p>Upload Products Pictures</p>
                        </div>
                        <ul class="list">
                            <li><img src="../../../assets/images/bg3.png"></li>
                            <li><img src="../../../assets/images/bg1.png"></li>
                            <li><img src="../../../assets/images/download (25).png"></li>
                            <li><img src="../../../assets/images/download (24).png"></li>
                            <li><img src="../../../assets/images/download (26).png"></li>
                        </ul>
                        <div class="size">
                            <div class="lbh">
                                <div class="_l">
                                    <p>L</p>
                                </div>
                                <div class="_b">
                                    <p>B</p>
                                </div>
                                <div class="_h">
                                    <p>H</p>
                                </div>
                            </div>
                            <div class="unit">
                                <p class="active">cm</p>
                                <p>in</p>
                            </div>
                        </div>
                        <select>
                            <option selected>Lather Type</option>
                            <option>Lather Type</option>
                        </select>
                        <input type="text" placeholder="MOQ (optional)">
                        <textarea placeholder="Notes"></textarea>
                        <button>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

