<header class="header d-none d-md-flex">
  <div class="row justify-content-center w-100 ">
    <div class="header-link col-md-1 active-text">
        home
      <div class="center">
        <div class="active-dot show">
        </div>
      </div>
    

    </div>
    <div class="header-link col-md-1">
       about us
       <div class="center hide">
        <div class="active-dot">
        </div>
      </div>


    </div>
    <div class="header-link col-md-1">
      shop
      <div class="center hide">
        <div class="active-dot">
        </div>
      </div>

    </div>
    <div class="header-link col-md-2">
      <img src="assets/images/logo.png" alt="logo" width="80px">
    </div>
    <div class="header-link col-md-1">
      services
      <div class="center hide">
        <div class="active-dot">
        </div>
      </div>

    </div>
    <div class="header-link col-md-1">
      pricing
      <div class="center hide">
        <div class="active-dot">
        </div>
      </div>

    </div>
    <div class="header-link col-md-1">
      contact
      <div class="center hide">
        <div class="active-dot">
        </div>
      </div>
    </div>
  </div>
</header>


<nav class="navbar navbar-expand-lg navbar-light bg-light d-md-none">
  <div class="container-fluid">
      <img src="assets/images/logo.png" alt="logo" width="60px">
      <a class="navbar-brand" href="#"></a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="noListNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavAltMarkup"
      mdbCollapse
      #noListNav="mdbCollapse"
    >
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" >About us</a>
        <a class="nav-link" >Shop</a>
        <a class="nav-link" >Services</a>
        <a class="nav-link" >Pricing</a>
        <a class="nav-link" >Contact</a>
 
       
      </div>
    </div>
  </div>
</nav>
