<header class="header">
  <div class="row justify-content-center w-100">
    <div class="header-link col-md-1 active-text">
        home
      <div class="center">
        <div class="active-dot show">
        </div>
      </div>
    

    </div>
    <div class="header-link col-md-1">
       about us
       <div class="center hide">
        <div class="active-dot">
        </div>
      </div>


    </div>
    <div class="header-link col-md-1">
      shop
      <div class="center hide">
        <div class="active-dot">
        </div>
      </div>

    </div>
    <div class="header-link col-md-2">
      <img src="assets/images/logo.png" alt="logo" width="80px">
    </div>
    <div class="header-link col-md-1">
      services
      <div class="center hide">
        <div class="active-dot">
        </div>
      </div>

    </div>
    <div class="header-link col-md-1">
      pricing
      <div class="center hide">
        <div class="active-dot">
        </div>
      </div>

    </div>
    <div class="header-link col-md-1">
      contact
      <div class="center hide">
        <div class="active-dot">
        </div>
      </div>
    </div>
  </div>
</header>
