.header{
    height:8rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .header-link{
        min-width: 100px;
        text-transform: uppercase;
        text-align: center;
        align-self: center;
        color:black;
        cursor: pointer;
    }
}
.active-dot{
    height: 6px;
    width: 6px;
    border-radius: 50px;
    background-color: #ff3b00;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.show{
    visibility:visible;
}
.hide{
    visibility: hidden;
}
.active-text{
    font-weight: bold;
}