<div class="container-fluid about-us">
    <div class="d-none d-md-block">
        <img class="about-us-bg-right" src="assets/images/about-us-right-side-header-image.png" alt="about-us logo"/>
    </div>
  <div class="title">
      <div>
          <p style="color:#f1603f">OUR SERVICES</p>
          <h2>KNOW WHO WE ARE</h2>
      </div>
  </div>


  
  

</div>

<section class="ser pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9 m-auto text-center mb-5 pb-5">
                <div class="head-wrap2">
                   
                    <h2>LETS KNOW<br>
                        OUR SERVICES PROVIDED</h2>
                </div>
                <div class="val-txt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, se doeiust moderette
                        mpor incididunt ut labore et dolore mag.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat nulla pariatur.</p>
                </div>
            </div>
            
            <div class="all-ser">
                <div class="each-ser">
                    <div class="ser-img">
                        <img src="../../../assets/images/ser1.png">
                    </div>
                   
                    <div class="ser-txt">
                        <h2>DESIGN</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                        eiusmod tempor incididunt ut labore et<br>
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut aliquip<br>
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore<br>
                        eu fugiat nulla pariatur.<br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse<br> 
                        cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="each-ser">
                    <div class="ser-img">
                        <img src="../../../assets/images/ser2.png">
                    </div>
                   
                    <div class="ser-txt">
                        <h2>DESIGN</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                        eiusmod tempor incididunt ut labore et<br>
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut aliquip<br>
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore<br>
                        eu fugiat nulla pariatur.<br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse<br> 
                        cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="each-ser">
                    <div class="ser-img">
                        <img src="../../../assets/images/ser3.png">
                    </div>
                   
                    <div class="ser-txt">
                        <h2>DESIGN</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                        eiusmod tempor incididunt ut labore et<br>
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut aliquip<br>
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore<br>
                        eu fugiat nulla pariatur.<br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse<br> 
                        cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="each-ser">
                    <div class="ser-img">
                        <img src="../../../assets/images/ser4.png">
                    </div>
                   
                    <div class="ser-txt">
                        <h2>DESIGN</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                        eiusmod tempor incididunt ut labore et<br>
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut aliquip<br>
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore<br>
                        eu fugiat nulla pariatur.<br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse<br> 
                        cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>