ul{
    list-style: none;
    cursor: pointer;
    padding-left: 0;
    li{
        margin: 0 1em;
        height: 20px;
        
    }
    
}
li:hover{
    border-bottom: 1px solid black;
}
.options>li{
    
    margin: 1em 0;
        font-size: 13px;
        text-align: start;
    
}
.options>li:hover{
   border: none;
   font-weight: 600;
}
._container {
border: 1px solid rgb(209, 202, 202);
border-radius: 5px;
}
._filter{
    border: 1px solid rgb(209, 202, 202);
border-radius: 5px;
}

.product-container{
    justify-content: space-around;
    li{
        width: 100px;
        height: 100px;
       
        span{
            margin: 0px 2.4em;
                font-size: 14px;
                margin-top: -25px;
                position: absolute;
        }
        

    }

}
@media only screen and (max-width: 600px) {
    .product-container{
        display: none !important;
    }
    .card-text{
        font-size: 12px;
    }
  }