<div class="_container container mt-4">
<ul class="d-flex justify-content-center mt-3 _product-container ">
    <li>BAGS</li>
    <li>WALLETS</li>
    <li>SHOES</li>
    <li>JACKETS</li>

</ul>
<ul class="product-container d-flex justify-content-round mt-3 ">
    <li>
        <div class="image-container"><img class="main-image" src="https://aws.sacatelle.com:81/uploads/images/master-categories/shopall-3.png"></div>
       <span>BAGS</span> </li>
    <li>
        <div class="image-container"><img class="main-image" src="https://aws.sacatelle.com:81/uploads/images/main-categories/Icon_Home.png"></div>
        <span>BAGS</span></li>
    <li> <div class="image-container"><img class="main-image" src="https://aws.sacatelle.com:81/uploads/images/main-categories/Icon_Tech.png"></div><span>BAGS</span></li>
    <li><div class="image-container"><img class="main-image" src="https://aws.sacatelle.com:81/uploads/images/main-categories/Icon_HealthWellness.png"></div> <span>BAGS</span></li>
    <li> <div class="image-container"><img class="main-image" src="https://aws.sacatelle.com:81/uploads/images/main-categories/Icon_OutdoorLeisure.png"></div><span>BAGS</span></li>
    <li> <div class="image-container"><img class="main-image" src="https://aws.sacatelle.com:81/uploads/images/main-categories/Icon_Tech.png"></div><span>BAGS</span></li>
    <li><div class="image-container"><img class="main-image" src="https://aws.sacatelle.com:81/uploads/images/main-categories/Icon_HealthWellness.png"> </div><span>BAGS</span></li>
    <li> <div class="image-container"><img class="main-image" src="https://aws.sacatelle.com:81/uploads/images/main-categories/Icon_OutdoorLeisure.png"></div><span>BAGS</span></li>



</ul>

</div>
<div class=" container mt-3  mb-2 ">
    <div class="row ">
        <div class="col-sm-3 _filter d-none d-sm-block">
         <div></div>
         <mdb-accordion [multiple]="true" [flush]="true" class="m-2" >
          <mdb-accordion-item [collapsed]="false" >
            <ng-template mdbAccordionItemHeader>Production Time</ng-template>
            <ng-template mdbAccordionItemBody>
              <ul class="options">
                <li>Custom</li>
                <li>Ready to print </li>

              </ul>
            </ng-template>
          </mdb-accordion-item>

          <mdb-accordion-item [collapsed]="false">
            <ng-template mdbAccordionItemHeader>Categories</ng-template>
            <ng-template mdbAccordionItemBody>
              <ul class="options">
                <li>TOTES</li>
                <li>BACKPACKS</li>
                <li>DUFFELS</li>
                <li>DRAWSTRINGS</li>
                <li>COOLERS</li>
                <li>MESSENGERS</li>
                <li>FANNYPACKS</li>
                <li>POUCHES</li>
                <li>OTHERS</li>
                <li>MAILERS</li>
                </ul>
            </ng-template>
          </mdb-accordion-item>

          <mdb-accordion-item [collapsed]="false">
            <ng-template mdbAccordionItemHeader>Material</ng-template>
            <ng-template mdbAccordionItemBody>
              <ul class="options">
                <li>Polypropelyne</li>
                <li>Polyester </li>
                <li>Cotton</li>
                <li>PVC</li>
                <li>Neoprene</li>
                <li>Nylon</li>
                <li>Melange</li>
                <li>Tyvek</li>
                <li>Vegan Leather</li>
                </ul>
            </ng-template>
          </mdb-accordion-item>
          <mdb-accordion-item [collapsed]="false">
            <ng-template mdbAccordionItemHeader>style</ng-template>
            <ng-template mdbAccordionItemBody>
              <ul class="options">
                <li>Wine Bags</li>
                <li>Laundry</li>
                <li>Yoga</li>
                <li>Garment</li>
                <li>Travel</li>
                <li>Fashion</li>
                </ul>
            </ng-template>
          </mdb-accordion-item>

        </mdb-accordion>

        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-4 col-6 mt-2">
              <div class="card" routerLink="/product-details" >
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>

                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>

                </div>
              </div>
            </div>
            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4 col-6  mt-2">
              <div class="card" routerLink="/product-details">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    class="img-fluid"
                  />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a href="#!" class="btn btn-primary">Buy Now</a>
                  <a href="#!" class="mx-4 card-link">$300</a>
                </div>
              </div>
            </div>




          </div>




        </div>


    </div>
</div>

<nav aria-label="...">
  <ul class="pagination pagination-circle justify-content-end container" >
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>





