<section class="pro-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>the <span>LATEST</span> <br>SELECTION</h2>
            </div>
            <div class="col-md-6">
                <p class="head-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, se doeiust mpor ut labore et dolore mag.</p>
            </div>
        </div>
       
    </div>
    <div class="all-slider">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="each-slider">
                    <img src="assets/images/sli1.jpg">
                    <div class="sli-txt">
                        <h4>Slope</h4>
                        <p>$100</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="each-slider">
                    <img src="assets/images/sli2.jpg">
                    <div class="sli-txt">
                        <h4>Slope</h4>
                        <p>$100</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="each-slider">
                    <img src="assets/images/sli3.jpg">
                    <div class="sli-txt">
                        <h4>Slope</h4>
                        <p>$100</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="each-slider">
                    <img src="assets/images/sli3.jpg">
                    <div class="sli-txt">
                        <h4>Slope</h4>
                        <p>$100</p>
                    </div>
                </div>
            </ng-template>  
          </owl-carousel-o>

         
    </div>
   
    <img src="assets/images/big-leave.png" id="bl">
</section>


<section class="about">
    <div class="sec-head text-center">
        <p>OUR SERVICES</p>
        <h2>KNOW WHO WE ARE</h2>
    </div>
    <div class="abt-img">
        <img src="assets/images/abt-bk.jpg">
    </div>
    <div class="abt-dtls">
        <div class="each-dtls">
            <img src="assets/images/abt-ico1.png">
            <h6>DESIGN</h6>
            <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit,
                sed d</p>
            <div class="dtls-foo">
                <span>Let’s Talk</span>
                <a href="#"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="each-dtls">
            <img src="assets/images/abt-ico2.png">
            <h6>DESIGN</h6>
            <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit,
                sed d</p>
            <div class="dtls-foo">
                <span>Let’s Talk</span>
                <a href="#"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="each-dtls">
            <img src="assets/images/abt-ico3.png">
            <h6>DESIGN</h6>
            <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit,
                sed d</p>
            <div class="dtls-foo">
                <span>Let’s Talk</span>
                <a href="#"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="each-dtls">
            <img src="assets/images/abt-ico4.png">
            <h6>DESIGN</h6>
            <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit,
                sed d</p>
            <div class="dtls-foo">
                <span>Let’s Talk</span>
                <a href="#"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="gg">Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit, sed diam nonummy nibh euismod
                    tincidunt ut laoreet dolore magna aliquam erat
                    volutpat. Ut wisi enim ad minim veniam, quis
                    nostrud exerci tation ullamcorper suscipit lobortis
                    nisl ut aliquip ex ea commodo consequat.
                    Duis autem vel eum iriure dolor in hendrerit in vulputate 
                    </p>
            </div>
        </div>
    </div>
    
</section>

<section class="pricing text-center">
    <img src="assets/images/side-bg.jpg" id="sd">
    <div class="sec-head">
        <p>PRICING</p>
        <h2>KNOW YOUR PRICING</h2>
    </div>
    <p class="pri-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, se doeiust
        mpor incididunt ut labore et dolore mag.</p>
    <button>Contact Us</button>
</section>

<section class="choose">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="sec-head">
                    <p>OUR CORE VALUES</p>
                    <h2>WHY CHOOSE US?</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="each-ch">
                    <i class="fa fa-plus-circle"></i>
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</p>
                </div>
                <div class="each-ch">
                    <i class="fa fa-plus-circle"></i>
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</p>
                </div>
                <div class="each-ch">
                    <i class="fa fa-plus-circle"></i>
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</p>
                </div>
                <div class="each-ch">
                    <i class="fa fa-plus-circle"></i>
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</p>
                </div>
                <div class="each-ch">
                    <i class="fa fa-plus-circle"></i>
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</p>
                </div>
                <div class="each-ch">
                    <i class="fa fa-plus-circle"></i>
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</p>
                </div>
                <div class="each-ch">
                    <i class="fa fa-plus-circle"></i>
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</p>
                </div>
                <div class="each-ch">
                    <i class="fa fa-plus-circle"></i>
                    <p>Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="ch-dtls">
                    <div class="hd-wrap">
                        <i class="fa fa-minus-circle"></i><h4>Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit</h4>
                    </div>
                   
                    <p class="kk">Lorem ipsum dolor sit amet, consectetur adipiscing elit, se
                        doeiust moderette mpor incididunt ut labore et dolore mag.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat nulla pariatur</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sample">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/net.png">
            </div>
            <div class="col-md-6">
                <div class="pricing text-center">
                    <div class="sec-head">
                        <p>OUR PRODUCTS</p>
                        <h2>GET <span>FREE</span> SAMPLE</h2>
                    </div>
                    <p class="pri-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, se doeiust
                        mpor incididunt ut labore et dolore mag.</p>
                    <button>Know More</button>
                </div>
              
            </div>
        </div>
    </div>
</section>

<section class="testi">
    <div class="sec-head text-center">
        <p>TESTIMONIALS</p>
        <h2>WHAT OUR CLIENT SAY</h2>
    </div>
    <img src="assets/images/testimonials-mark.png" style="margin: 0 auto 30px;
    display: flex;">
    <p class="each-testi">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
eu fugiat nulla pariatur
    </p>
    <div class="user-wrap">
        <div class="tes-user">
            <div class="img-wrap">
                <img src="assets/images/tes2.jpg">
            </div>
            
        </div>
        <div class="tes-user active">
            <div class="img-wrap">
                <img src="assets/images/tes1.jpg">
            </div>
            <h5>Della Wilde</h5>
        </div>
        <div class="tes-user">
            <div class="img-wrap">
                <img src="assets/images/tes3.jpg">
            </div>
        </div>
    </div>
    
</section>

<div class="logo">
    <img src="assets/images/lg1.png">
    <img src="assets/images/lg2.png">
    <img src="assets/images/lg3.png">
    <img src="assets/images/lg4.png">
    <img src="assets/images/lg5.png">
    <img src="assets/images/lg6.png">
    <img src="assets/images/lg7.png">
</div>

<img _ngcontent-rhm-c109="" src="assets/images/big-leave.png" id="bl-left">

<section class="pricing consult text-center">
    <img src="assets/images/side2.jpg" id="sd">
    <div class="sec-head">
        <h2>LETS SEE IF WE ARE A RIGHT FIT</h2>
    </div>
    <p class="pri-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, se doeiust
        mpor incididunt ut labore et dolore mag.</p>
    <button>Get 15min Free Consultation</button>
</section>