<section class="pro-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>the <span>LATEST</span> <br>SELECTION</h2>
            </div>
            <div class="col-md-6">
                <p class="head-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, se doeiust mpor ut labore et dolore mag.</p>
            </div>
        </div>
       
    </div>
    <div class="all-slider">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="each-slider">
                    <img src="assets/images/sli1.jpg">
                    <div class="sli-txt">
                        <h4>Slope</h4>
                        <p>$100</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="each-slider">
                    <img src="assets/images/sli2.jpg">
                    <div class="sli-txt">
                        <h4>Slope</h4>
                        <p>$100</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="each-slider">
                    <img src="assets/images/sli3.jpg">
                    <div class="sli-txt">
                        <h4>Slope</h4>
                        <p>$100</p>
                    </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="each-slider">
                    <img src="assets/images/sli3.jpg">
                    <div class="sli-txt">
                        <h4>Slope</h4>
                        <p>$100</p>
                    </div>
                </div>
            </ng-template>  
          </owl-carousel-o>

         
    </div>
   
    <img src="assets/images/big-leave.png" id="bl">
</section>

<section class="about">
    <div class="sec-head text-center">
        OUR SERVICES
        KNOW WHO WE ARE
    </div>
    <img src="assets/images/abt-bk.jpg">
</section>
