<div class="container-fluid about-us">
    <div class="d-none d-md-block">
        <img class="about-us-bg-right" src="assets/images/about-us-right-side-header-image.png" alt="about-us logo"/>
    </div>
  <div class="title">
      <div>
          <h6 style="color:#f1603f">Who we are</h6>
          <h2>About us</h2>
      </div>
  </div>


  
  

</div>



<div>


  
    <section class="about text-center">
        <div class="container">
            
              
            <div class="head-wrap">
                <img src="assets/images/quotation-mark.png" alt="">
                <h2>OUR STORY</h2>
            </div>
            <div class="abt-txt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, se doeiust moderette
                            mpor incididunt ut labore et dolore mag.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.</p>
            </div>
                
            <div class="row pt-5 mt-5">
                <div class="col-md-6">
                    <h3 class="pb-3">WHAT WE DO</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                        sed diam nonummy nibh euismod tincidunt ut laoreet 
                        dolore magna aliquam erat volutpat. Ut wisi enim ad 
                        minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                        Duis autem vel eum iriure dolor in hendrerit in vulputate 
                        velit esse molestie consequat, vel illum dolore eu feugiat 
                        nulla facilisis at vero eros et accumsan et iusto odio 
                        dignissim qui blandit praesent luptatum zzril delenit 
                        augue duis dolore te feugait nulla facilisi.
                        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, 
                        sed diam nonummy nibh euismod tincidunt ut laoreet </p>
                </div>
                <div class="col-md-6">
                    <h3 class="pb-3">HOW IT ALL BEGAN</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                        sed diam nonummy nibh euismod tincidunt ut laoreet 
                        dolore magna aliquam erat volutpat. Ut wisi enim ad 
                        minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                        Duis autem vel eum iriure dolor in hendrerit in vulputate 
                        velit esse molestie consequat, vel illum dolore eu feugiat 
                        nulla facilisis at vero eros et accumsan et iusto odio 
                        dignissim qui blandit praesent luptatum zzril delenit 
                        augue duis dolore te feugait nulla facilisi.
                        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, 
                        sed diam nonummy nibh euismod tincidunt ut laoreet </p>
                </div>
            </div>
                      
        </div>
      
       
    </section>
    
    <section class="value text-center">
        <div class="container">
            <div class="head-wrap2">
                <p>WHAT WE CARE ABOUT</p>
                <h2>OUR CORE VALUES</h2>
            </div>
            <div class="val-txt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, se doeiust moderette
                    mpor incididunt ut labore et dolore mag.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.</p>
            </div>
           
        </div>
    
        <div class="dtl-box">
            <div class="each-dtl">
                <div class="dtl-wrap">
                    <h3>PASSION</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
                    elit, sed diam nonummy nibh euismod tincidunt ut 
                    laoreet dolore magna aliquam erat volutpat wisi enim 
                    ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
                    consequat. </p>
                </div>
                
            </div>
            <div class="each-dtl">
                <div class="dtl-wrap">
                    <h3>PASSION</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
                    elit, sed diam nonummy nibh euismod tincidunt ut 
                    laoreet dolore magna aliquam erat volutpat wisi enim 
                    ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
                    consequat. </p>
                </div>
                
            </div>
            <div class="each-dtl">
                <div class="dtl-wrap">
                    <h3>COMMITM</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
                    elit, sed diam nonummy nibh euismod tincidunt ut 
                    laoreet dolore magna aliquam erat volutpat wisi enim 
                    ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
                    consequat.</p>
    
                </div>
                            </div>
            <div class="each-dtl">
                <div class="dtl-wrap">
                    <img src="assets/images/core-values-unselected-image.png" alt="">
                    <h3>TECHNOLOGY</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
                    elit, sed diam nonummy nibh euismod tincidunt ut 
                    laoreet dolore magna aliquam erat volutpat wisi enim 
                    ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
                    consequat.</p>
    
                </div>
                            </div>
            <div class="each-dtl">
                <div class="dtl-wrap">
                    <img src="assets/images/core-values-unselected-image.png" alt="">
                    <h3>MILL</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
                    elit, sed diam nonummy nibh euismod tincidunt ut 
                    laoreet dolore magna aliquam erat volutpat wisi enim 
                    ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
                    consequat.</p>
    
                </div>
                            </div>
        </div>
       
    </section>
    
    <section class="team text-center">
        <div class="container">
            <div class="head-wrap2">
                <p>WHAT WE CARE ABOUT</p>
                <h2>OUR CORE VALUES</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="each-team">
                        <img src="assets/images/Home-3-team-img-2.jpg">
                        <div class="team-txt">
                            <h4>Della Wilde</h4>
                            <p>Operations</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="each-team">
                        <img src="assets/images/Home-3-team-img-5.jpg">
                        <div class="team-txt">
                            <h4>Della Wilde</h4>
                            <p>Operations</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="each-team">
                        <img src="assets/images/Home-3-team-img-6.jpg">
                        <div class="team-txt">
                            <h4>Della Wilde</h4>
                            <p>Operations</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="each-team">
                        <img src="assets/images/Home-3-team-img-7.jpg">
                        <div class="team-txt">
                            <h4>Della Wilde</h4>
                            <p>Operations</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="each-team">
                        <img src="assets/images/Home-3-team-img-9.jpg">
                        <div class="team-txt">
                            <h4>Della Wilde</h4>
                            <p>Operations</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="each-team">
                        <img src="assets/images/Home-3-team-img-8.jpg">
                        <div class="team-txt">
                            <h4>Della Wilde</h4>
                            <p>Operations</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="product text-center">
        <div class="container">
            <div class="head-wrap">
                <p>PRODUCTS</p>
                <h2>OUR SUPPORT SYSTEM</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="each-pro">
                        <img src="assets/images/download (1).png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="each-pro">
                        <img src="assets/images/download (2).png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="each-pro">
                        <img src="assets/images/download (3).png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="each-pro">
                        <img src="assets/images/download (4).png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="each-pro">
                        <img src="assets/images/download (5).png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="each-pro">
                        <img src="assets/images/download (6).png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="each-pro">
                        <img src="assets/images/download (7).png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="each-pro">
                        <img src="assets/images/download (8).png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    

</div>
