<mdb-carousel [controls]="true" [indicators]="true" style="margin-top: 1px;">
  <mdb-carousel-item>
    <img
    src="assets/carousal-pic-1.jpg"
    class="d-block w-100"

    alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>First slide label</h5>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <img
      src="assets/carousal-pic-4.jpg"
      class="d-block w-100"

      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Second slide label</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <img
      src="assets/carousal-pic-1.jpg"
      class="d-block w-100"

      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Third slide label</h5>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="assets/carousal-pic-4.jpg"
      class="d-block w-100"

      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Forth slide label</h5>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>



<div id="about" class="container my-5">

  
  <div class="row">
    <div class="col-sm-8" >
      
      <div class="w-50" style=" display: inline-block; height: 100px;" data-aos="zoom-in-right">
        <div style="float: right; shape-outside: polygon(47.235px 0px, 0px 100.5px, 47.235px 100.5px); clip-path: polygon(47.235px 0px, 0px 100.5px, 47.235px 100.5px); background: linear-gradient(to right top, #dde9f8, #d9e6f6); position: relative; z-index: 0; height: 100px; width: 46.235px;">
        </div>
        <div style="text-align: justify; height: 100px;">
          <div style="background-color: rgb(16, 25, 35); color: white; text-align: center;">
            <h4 class="DiagnolTitle_text__FpLjx uk-text-uppercase" style="text-transform: uppercase; padding: 0.6em;font-size: 25px; text-align: right;    transform: skewx(
              345deg);">About our company</h4>
          </div>
        </div>
      </div>
      <div data-aos="zoom-in">
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br><button class="btn btn-default btn-lg">Get in Touch</button>
      </div>
      
    </div>
    <div class="col-sm-4" data-aos="fade-left">
      <img src="assets/about_office.svg" class="mt-5 d-none d-sm-block animated bounce" alt="about us" width="100%"/>
    </div>
  </div>
</div>


<div class="container bg-grey">
  <div class="row pt-4 our-values">
    <div class="col-sm-4" data-aos="fade-up-right">
      
      <img  src="assets/our_values.svg" class="mt-3 d-none d-sm-block" alt="about us" width="80%"/>
    </div>
    <div class="col-sm-8">
      <div class="w-50" style=" display: inline-block; height: 100px;" data-aos="zoom-in-left">
        <div style="float: right; shape-outside: polygon(47.235px 0px, 0px 100.5px, 47.235px 100.5px); clip-path: polygon(47.235px 0px, 0px 100.5px, 47.235px 100.5px); background: linear-gradient(to right top, #dde9f8, #d9e6f6); position: relative; z-index: 0; height: 100px; width: 46.235px;">
        </div>
        <div style="text-align: justify; height: 100px;">
          <div style="background-color: rgb(16, 25, 35); color: white; text-align: center;">
            <h4 class="DiagnolTitle_text__FpLjx uk-text-uppercase" style="text-transform: uppercase; padding: 0.6em;font-size: 28px; text-align: center;    transform: skewx(
              345deg);">OUR VALUES</h4>
          </div>
        </div>
      </div>
      <div data-aos="zoom-out">
        <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
        <p><strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      
      </div>
    </div>
  </div>
</div>




<!-- Container (Services Section) -->
<div id="services" class="container text-center mt-5" >
  <h1 class=" mb-3">SERVICES</h1>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim" data-aos="zoom-in">
    <div class="col-sm-4">
      <span ><i class="fas fa-power-off"></i></span>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span ><i class="fas fa-handshake"></i></span>
      <h4>commitment</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span ><i class="fas fa-clock"></i></span>
      <h4>punctual</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim" data-aos="zoom-out">
    <div class="col-sm-4">
      <span ><i class="fas fa-truck"></i></span>
      <h4>FAST DELIVERY</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span ><i class="fas fa-certificate"></i></span>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span ><i class="fas fa-tools"></i></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>




<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container  bg-grey mt-5">
  <h2>Our Product</h2><br>
  <h4>What we have created</h4>
  <div class="row text-center slideanim">
    <div class="col-sm-3 mt-1">
      <div class="card text-center ">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="assets/bag.jpg" alt="bag"  />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>

        <div class="card-body">
          <h5 class="card-title">Bags</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>


        </div>
        <div class="card-footer">Just lunched</div>
      </div>
    </div>
    <div class="col-sm-3 mt-1">
      <div class="card text-center ">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="assets/belt.jpg" alt="belt"  />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>

        <div class="card-body">
          <h5 class="card-title">Belt</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>


        </div>
        <div class="card-footer">Just Lunched</div>
      </div>
    </div>
    <div class="col-sm-3 mt-1">
      <div class="card text-center ">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="assets/wallet.jpeg" alt="wallet" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>

        <div class="card-body">
          <h5 class="card-title">Wallet</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>


        </div>
        <div class="card-footer">2 days ago</div>
      </div>
    </div>
    <div class="col-sm-3 mt-1">
      <div class="card text-center ">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="assets/shoes.jpeg" alt="sahoes" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>

        <div class="card-body">
          <h5 class="card-title">Shoes</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>


        </div>
        <div class="card-footer">2 days ago</div>
      </div>
    </div>
  </div><br>

</div>


<div class="container text-center">
  <h3>What our customers say</h3>
  
  <mdb-carousel [controls]="true" [indicators]="true" [dark]='true' class="container">
  
    <mdb-carousel-item style="height: 10em;">
      
      <div class="carousel-caption ">
        <h6>"This company is the best. I am so happy with the result!"</h6>
        <p>Michael Roe, Vice President, Comment Box</p>
      </div>
    </mdb-carousel-item>
  
    <mdb-carousel-item style="height: 10em;">
      
      <div class="carousel-caption ">
        <h6>"Could I... BE any more happy with this company?"</h6>
        <p>Chandler Bing, Actor, FriendsAlot</p>
      </div>
    </mdb-carousel-item>
  
    <mdb-carousel-item style="height: 10em;">
      
      <div class="carousel-caption ">
        <h6>"One word... WOW!!"</h6>
        <p>John Doe, Salesman, Rep Inc</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

</div>









